/* css style for cards of documentEditor component  */

.card_document_editor_title_view_document,
.card_document_editor_content_view_document {
  word-wrap: break-word;
  margin-bottom: 1vw;
  margin-left: 3.5vw;
  width: 60vw;
}

.card_document_editor_title_view_document {
  font-size: x-large;
  font-weight: bold;
}

.card_document_editor_content_view_document {
  font-size: large;
}

/* css style for the card selected in documentEditor component  */
.selectedCardById {
  height: 80vh;
}

.selectedCardById .card_edit{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.selectedCardById_card_title {
  border: none;
  resize: none;
  color: #131313;
  min-width: 90%;
  margin-bottom: 1vw;
  margin-left: 3.5vw;
  font-size: x-large;
  font-weight: bold;
}

.selectedCardById_card_content {
  border: none;
  resize: none;
  color: #131313;
  min-height: 50vh;
  width: 90%;
  vertical-align: top;
  margin-left: 3.5vw;
  font-size: large;
}

textarea ::-webkit-scrollbar {
  width: 0;
}

.selectedCardById_close {
  width: 5%;
  font-size: xx-large;
}
