/* css style for cards of documentEditor component  */

.card_document_editor_title_view_document,
.card_document_editor_content_view_document {
  word-wrap: break-word;
  margin-bottom: 1vw;
  margin-left: 3.5vw;
  width: 60vw;
}

/* css style for the card selected in documentEditor component  */
.selectedCardById {
  width: 60vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.selectedCardById_card_title {
  border: none;
  resize: none;
  color: #131313;
  /* height: 5%; */
  width: 90%;
  font-size: large;
  margin-top: 1.5vw;
  margin-bottom: 1vw;
  margin-left: 1.5vw;
  font-size: x-large;
}

.selectedCardById_card_content {
  border: none;
  resize: none;
  color: #131313;
  min-height: 70%;
  width: 90%;
  vertical-align: top;
  margin-left: 1.5vw;
}

.selectedCardById_title_view_document,
.selectedCardById_content_view_document,
.selectedCardById_delete_card {
  display: none;
}

.selectedCardById_close {
  align-self: flex-end;
  margin-right: 2vw;
  font-size: xx-large;
}
