/* css style for cards of Outliner Page */
.card_outliner {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(84, 66, 66, 0.2);
  width: fit-content;
  max-width: 20vw;
  height: 17vw;
  height: fit-content;
  margin-bottom: 1vw;
  margin-left: 1vw;
  cursor: grab;
}

.card_outliner_card_title {
  border: none;
  resize: none;
  color: #131313;
  height: 2vw;
  width: 18vw;
  font-size: large;
  margin-top: 1.5vw;
  margin-left: 1.5vw;
  font-size: x-large;
}

.card_outliner_card_content {
  border: none;
  resize: none;
  color: #131313;
  height: 12vw;
  width: 18vw;
  margin-left: 1.5vw;
}

.card_outliner_title_view_document {
  display: block;
  border: none;
  resize: none;
  color: #131313;
  height: 2vw;
  width: 18vw;
  font-size: large;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 1.5vw;
  font-size: x-large;
}

.card_outliner_content_view_document {
  display: block;
  border: none;
  resize: none;
  color: #131313;
  height: 12vw;
  width: 18vw;
  margin-left: 1.5vw;
  word-wrap: break-word;
  overflow: hidden;
}

@media (max-width: 900px) {
  .card_outliner {
    width: fit-content;
    max-width: 28vw;
    height: fit-content;
  }
  .card_outliner_card_title {
    height: 3vw;
    width: 26vw;
  }
  .card_outliner_card_content {
    height: 20vw;
    width: 26vw;
  }
  .card_outliner_title_view_document {
    height: 3vw;
    width: 26vw;
  }
  .card_outliner_content_view_document {
    height: 20vw;
    width: 26vw;
  }
}

@media (max-width: 700px) {
  .card_outliner {
    width: fit-content;
    height: fit-content;
    max-width: 36vw;
  }
  .card_outliner_card_title {
    height: 4vw;
    width: 34vw;
  }
  .card_outliner_card_content {
    height: 25vw;
    width: 34vw;
  }
  .card_outliner_title_view_document {
    height: 4vw;
    width: 34vw;
  }
  .card_outliner_content_view_document {
    height: 25vw;
    width: 34vw;
  }
}

@media (max-width: 500px) {
  .card_outliner {
    height: fit-content;
    font-size: larger;
    width: fit-content;
    max-width: 52vw;
  }
  .card_outliner_card_title {
    height: 5vw;
    width: 50vw;
  }
  .card_outliner_card_content {
    height: 40vw;
    width: 50vw;
  }
  .card_outliner_title_view_document {
    height: 5vw;
    width: 50vw;
  }
  .card_outliner_content_view_document {
    height: 40vw;
    width: 50vw;
  }
}
