/* css style for cards of outlinerEditor component  */
.card_outliner_editor {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 0.5em;
  width: 13vw;
  height: fit-content;
  margin: 0 auto;
  cursor: grab;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(84, 66, 66, 0.2);
}

.card_outliner_editor_title_view_document {
  font-size: large;
  align-self: flex-start;
  margin-top: 1vw;
  margin-bottom: 1vw;
  max-height: 1.5vw;
  min-height: 1vw;
  padding-left: 0.5em;
  word-break: break-all;
  overflow: hidden;
  max-width: 12vw;
}

.card_outliner_editor_content_view_document {
  max-height: 8vw;
  min-height: 8vw;
  max-width: 11vw;
  margin-left: 0.5em;
  vertical-align: top;
  align-self: start;
  word-break: break-all;
  overflow: hidden;
}

@media (max-width: 1100px) {
  .card_outliner_editor_title_view_document {
    font-size: medium;
    max-height: 2vw;
  }
  .card_outliner_editor_content_view_document {
    font-size: small;
  }
}

@media (max-width: 900px) {
  .card_outliner_editor_title_view_document {
    font-size: small;
  }
  .card_outliner_editor_content_view_document {
    font-size: x-small;
  }
}

@media (max-width: 700px) {
  .card_outliner_editor_title_view_document {
    max-height: 3vw;
  }
}
