/* css style for cards of outlinerEditor component  */
.card_outliner_editor {
  display: flex;
  flex-direction: column;
  border: thin solid black;
  border-radius: 0.5em;
  width: 13vw;
  height: 13vw;
  margin: 0 auto;
  cursor: grab;
}

.card_outliner_editor .card {
  width: fit-content;
  height: fit-content;
  border-radius: 0.5em;
}

.card_outliner_editor_title_view_document {
  font-size: large;
  align-self: flex-start;
  margin-top: 1.5em;
  max-height: 1.5vw;
  min-height: 1vw;
  padding-left: 0.5em;
  word-break: break-all;
  overflow: hidden;
  max-width: 12vw;
}

.card_outliner_editor_content_view_document {
  max-height: 8vw;
  min-height: 8vw;
  max-width: 11vw;
  margin-left: 0.5em;
  vertical-align: top;
  align-self: start;
  word-break: break-all;
  overflow: hidden;
}
