.list {
  user-select: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  justify-self: center;
  grid-gap: 16px;
  margin: 0 auto;
  margin-top: 4vh;
}

@media  (max-width: 900px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media  (max-width: 700px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media  (max-width: 500px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
  }
}
