.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 50vw;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(84, 66, 66, 0.2);
  width: fit-content;
  max-width: 50vw;
  height: 17vw;
  height: fit-content;
  margin-bottom: 1vw;
}

.container:hover {
  box-shadow: 0 2px 20px rgba(123, 194, 252, 0.75);
}
.container h2 {
  margin-top: 1.25vw;
  margin-left: 1vw;
  font-size: x-large;
  width: 35vw;
  height: 4vh;
}

.container_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 1vw;
  margin-top: 0.5vw;
  margin-right: 1vw;
  
}
.container .next,
.container .edit,
.container .delete {
  color: #131313;
  background: none;
  border: none;
  font-size: 1.5vw;
  margin-left: 1vw;
  width: 2vw;
  height: 4vh;
  max-height: 4vh;
}

.container #title {
  margin-top: 1.25vw;
  margin-left: 1vw;
  width: 35vw;
  font-size: x-large;
  font-weight: bold;
  border: none;
  resize: none;
  height: 4vh;
}

#description {
  margin-left: 1vw;
  font-size: 1.2vw;
  border: none;
  min-width: 45vw;
  max-width: 45vw;
  height: fit-content;
  resize: none;
}

.p_container {
  margin-left: 1vw;
  font-size: 1.2vw;
  min-width: 45vw;
  max-width: 45vw;
  height: fit-content;
  padding-bottom: 1.25em;
}
