* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.editor_page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.editor {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  max-width: 95%;
  width: 95vw;
}

.toolbar {
  max-width: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 1vw;
}

.outliner_editor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  min-width: 30vw;
}

.outliner_editor .list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.document_editor {
  min-width: 61vw ;
  max-width: 61vw ;
  margin-left: 2vw;
}
.document_editor_cards h1 {
  margin-bottom: 1vw;
}

.document_title {
  border: none;
  color: #131313;
  height: 2em;
  width: 100%;
  margin-top: 1.5vw;
  font-size: 2em;
  font-weight: bold;
}

.document_title_edit {
  border: none;
  resize: none;
  color: #131313;
  height: 2em;
  width: 100%;
  margin-top: 1.5vw;
  font-size: 1.8em;
  font-weight: bold;
}
