* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.editor_page {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
}

.outliner_editor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.document_editor_cards h1 {
  margin-bottom: 1vw;
}

.document_title {
  border: none;
  resize: none;
  color: #131313;
  height: 2em;
  width: 100%;
  margin-top: 1.5vw;
  font-size: 2em;
  font-weight: bold;
}
