/* css style for cards of outliner page */
.card_outliner {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(84, 66, 66, 0.2);
  border-radius: 0.5em;
  width: 20vw;
  height: 17vw;
  margin: 0 auto;
  margin-bottom: 2vw;
}

.card_outliner_card_title {
  border: none;
  resize: none;
  color: #131313;
  height: 2vw;
  width: 18vw;
  font-size: large;
  margin-top: 1.5vw;
  margin-left: 1.5vw;
  font-size: x-large;
}

.card_outliner_card_content {
  border: none;
  resize: none;
  color: #131313;
  height: 12vw;
  width: 18vw;
  vertical-align: top;
  margin-left: 1.5vw;
}

.card_outliner_delete_card {
  background: none;
  border: none;
  width: 2vw;
  height: 2vw;
  align-self: flex-end;
  color: rgb(103, 100, 100);
}

.card_outliner_title_view_document,
.card_outliner_content_view_document,
.card_outliner_close {
  display: none;
}

@media (max-width: 1200px) {
  .card_outliner {
    width: 30vw;
    height: 25vw;
  }

  .card_outliner_card_title {
    width: 28vw;
    height: 3vw;
    font-size: x-large;
  }

  .card_outliner_card_content {
    width: 28vw;
    height: 18vw;
  }

  .card_outliner_delete_card {
    width: 3vw;
    height: 3vw;
  }
}

@media (max-width: 900px) {
  .card_outliner {
    width: 40vw;
    height: 35vw;
  }

  .card_outliner_card_title {
    width: 38vw;
    height: 5vw;
    font-size: 23px;
  }

  .card_outliner_card_content {
    width: 38vw;
    height: 28vw;
    font-size: 15px;
  }

  .card_outliner_delete_card {
    width: 4vw;
    height: 4vw;
  }
}

@media (max-width: 600px) {
  .card_outliner {
    width: 60vw;
    height: 50vw;
    margin-bottom: 5vh;
  }

  .card_outliner_card_title {
    width: 58vw;
    height: 10vw;
    font-size: 23px;
  }

  .card_outliner_card_content {
    width: 58vw;
    height: 32vw;
    font-size: 15px;
  }

  .card_outliner_delete_card {
    width: 8vw;
    height: 8vw;
  }
}

/* css style for cards of outlinerEditor component  */
.card_outliner_editor {
  display: flex;
  flex-direction: column;
  border: thin solid black;
  border-radius: 0.5em;
  width: 13vw;
  height: 13vw;
  margin: 0 auto;
  margin-bottom: 2vw;
}

.card_outliner_editor_card_title,
.card_outliner_editor_card_content,
.card_outliner_editor_close {
  display: none;
}

.card_outliner_editor_delete_card {
  background: none;
  border: none;
  align-self: flex-end;
  margin-right: 0.5vw;
}

.card_outliner_editor_title_view_document {
  font-size: large;
  align-self: flex-start;
  margin-top: 1em;
  max-height: 2vw;
  min-height: 1vw;
  margin-left: 0.5em;
  word-break: break-all;
  overflow: hidden;
}

.card_outliner_editor_content_view_document {
  max-height: 8vw;
  min-height: 8vw;
  max-width: 11vw;
  margin-left: 0.5em;
  margin-top: 1em;
  vertical-align: top;
  align-self: start;
  word-break: break-all;
  overflow: hidden;
}

/* css style for cards of documentEditor component  */
.card_document_editor_delete_card,
.card_document_editor_card_content,
.card_document_editor_card_title,
.card_document_editor_close {
  display: none;
}

.card_document_editor_title_view_document,
.card_document_editor_content_view_document {
  word-wrap: break-word;
  margin-bottom: 1vw;
}

/* css style for the card selected in documentEditor component  */
.selectedCardById {
  width: 80vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.selectedCardById_card_title {
  border: none;
  resize: none;
  color: #131313;
  /* height: 5%; */
  width: 90%;
  font-size: large;
  margin-top: 1.5vw;
  margin-bottom: 1vw;
  margin-left: 1.5vw;
  font-size: x-large;
}

.selectedCardById_card_content {
  border: none;
  resize: none;
  color: #131313;
  min-height: 70%;
  width: 90%;
  vertical-align: top;
  margin-left: 1.5vw;
}

.selectedCardById_title_view_document,
.selectedCardById_content_view_document,
.selectedCardById_delete_card {
  display: none;
}

.selectedCardById_close {
  align-self: flex-end;
  margin-right: 2vw;
  font-size: xx-large;
}
