.header {
  background-color: #131313;
  height: 6vw;
  min-width: 100vw;
  padding: 20px;
  text-align: center;
  color: rgb(248, 247, 242);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vw;
}

.application_name {
  font-size: 40px;
  font-weight: bold;
  background-color: #131313;
}

.outliner_nav,
.outliner_nav :hover,
.outliner_nav :visited,
.editor_nav,
.editor_nav :hover,
.editor_nav :visited {
  width: 10vw;
  display: flex;
  justify-content: flex-start;
  color: #f2ecec;
  font-size: large;
  background-color: #131313;
}

.outliner_nav_outliner {
  display: none;
}

.editor_nav_editor {
  display: none;
}
