.toolbar_outliner,
.toolbar_editor {
  min-width: 4vw;
  max-width: 4vw;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  padding-right: 1vw;
  padding-left: 1vw;
  padding-top: 3vw;
  position: fixed;
  left: 0;
  top: 5vw;
}

.toolbar_outliner button,
.toolbar_editor button {
  margin-bottom: 2vw;
}

@media (max-width: 1300px) {
  .toolbar_editor,
  .toolbar_outliner {
    padding-top: 5vw;
  }
}

@media (max-width: 900px) {
  .toolbar_editor,
  .toolbar_outliner {
    top: 6vw;
    padding-top: 6vw;
    min-width: 5vw;
    max-width: 5vw;
  }
}

@media (max-width: 600px) {
  .toolbar_editor,
  .toolbar_outliner {
    top: 7vw;
    padding-top: 7vw;
    min-width: 6vw;
    max-width: 6vw;
  }
}

@media (max-width: 400px) {
  .toolbar_editor,
  .toolbar_outliner {
    top: 8vw;
    padding-top: 9vw;
    min-width: 7vw;
    max-width: 7vw;
  }
}
