.home {
  background-color: #ececec;
  position: fixed;
  top: 6vh;
  width: 100vw;
  height: 94vh;
  border-radius: 15vw 0 0 0;
}

.home_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}