@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap%');

.header {
  background-color: #ffffff;
  color: black;
  max-height: 5vh;
  height: fit-content;
  min-width: 100%;
  position: fixed;
  top: 0;
}
.header_logo {
  width: 12vw;
  position: fixed;
  top: 0;
  left: 0;
}

.header a,
.header a:visited,
.header span {
  color: black;
  text-decoration: none;
  margin-right: 3vw;
}

.application_name {
  font-family: 'Allura', cursive;
  transform: rotate(-5deg);
  font-size: 55px;
  font-weight: 500;
  position: fixed;
  top: 0vh;
  left: 15vw;
  z-index: 1;
}


/* css style of outliner page */

.outliner_nav,
.editor_nav {
  position: fixed;
  color: black;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  right: 5vw;
}

/* css style for editor page */

.outliner_nav :hover,
.outliner_nav :visited,
.editor_nav :hover,
.editor_nav :visited {
  color: black;
}

@media (max-width: 1300px) {
  .application_name {
    font-size: 30px;
    font-weight: bold;
    position: fixed;
    top: 2vh;
    left: 1vw;
    z-index: 1;
  }
}

@media (max-width: 900px) {
  .application_name {
    font-size: 25px;
    font-weight: bold;
    position: fixed;
    top: 1vh;
    left: 1vw;
    z-index: 1;
  }
}

@media (max-width: 600px) {
  .application_name {
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 1vh;
    left: 1vw;
    z-index: 1;
  }
}

@media (max-width: 900px) {
  .outliner_nav_outliner {
    margin-left: 40vw;
  }
  .editor_nav_outliner {
    margin-left: 40vw;
  }
}

@media (max-width: 600px) {
  .outliner_nav_outliner {
    margin-left: 30vw;
  }
  .editor_nav_outliner {
    margin-left: 30vw;
  }
}
