.header {
  background-color: #131313;
  display: flex;
  justify-content: space-between;
  height: 6vw;
  min-width: 100%;
  text-align: center;
  color: rgb(248, 247, 242);
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1vw;
}

.header a,
.header a:visited,
.header span {
  background-color: #131313;
  text-decoration: none;
}
.header span {
  margin-left: 0.5vw;
  font-size: large;
}
.application_name {
  font-size: 40px;
  font-weight: bold;
  background-color: #131313;
  margin-left: 2vw;
}

/* css style of outliner page */

.outliner_nav,
.outliner_nav :hover,
.outliner_nav :visited {
  color: #f2ecec;
  font-size: x-large;
  background-color: #131313;
}

.outliner_nav_outliner {
  margin-left: 50vw;
  margin-right: 1vw;
}

.outliner_nav_logout_icon {
  color: #f2ecec;
  background-color: #131313;
  font-size: x-large;
  margin-right: 2vw;
}

.outliner_nav_login_icon {
  display: none;
}

/* css style of home page */
.homePage_nav,
.homePage_nav_logout_icon {
  display: none;
}

.homePage_nav_login_icon {
  color: #f2ecec;
  background-color: #131313;
  font-size: x-large;
  margin-left: 87vw;
  margin-right: 2vw;
}

/* css style for editor page */
.editor_nav_outliner {
  margin-left: 50vw;
  margin-right: 1vw;
}

.editor_nav,
.editor_nav :hover,
.editor_nav :visited {
  color: #f2ecec;
  font-size: x-large;
  background-color: #131313;
}

.editor_nav_logout_icon {
  color: #f2ecec;
  background-color: #131313;
  font-size: x-large;
  margin-right: 2vw;
}

.editor_nav_login_icon {
  display: none;
}
