.workspaces {
  border-radius: 4vw 0 0 4vw;
  background-color: #ececec;
  width: 94.9vw;
  min-height: 88vh;
  max-height: 88vh;
  margin-top: 7vh;
  margin-left: 5vw;
  overflow: auto;
  padding-left: 5vw;
}
