@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: #f9f5f5;
}
.outliner-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.toolbar {
  max-width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 auto;
}
.outliner_cards {
  max-width: 95%;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-self: center; */
  margin: 0 auto;
}

.list {
  user-select: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: auto auto auto; */
  justify-self: center;
  grid-gap: 16px;
  margin: 0 auto;
}

.add_card,
.delete_card {
  display: block;
  color: #131313;
  background: none;
  border: none;
  font-size: 2vw;
  margin-top: 0;
}

@media (max-width: 1200px) {
  .outliner_cards {
    grid-template-columns: repeat(3, 1fr);
  }
  .add_card {
    width: 28vw;
    height: 25vw;
    font-size: 8vw;
  }
}

@media (max-width: 900px) {
  .outliner_cards {
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
  }
  .add_card {
    font-size: 10vw;
  }
}

@media (max-width: 600px) {
  .outliner_cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .add_card {
    width: 60vw;
    height: 50vw;
    font-size: 15vw;
  }
}
